

.null{
  border: 2px dotted rgb(0, 0, 0);
}
.notnull{
  border: 0px ;
}

input.ng-invalid{
  border-right: 7px solid rgb(255, 69, 69);
  /* border: 2px solid rgb(224, 91, 91); */
}
input.ng-valid{
   border-right: 7px solid rgb(50, 255, 50);
   /* border: 2px solid rgb(0, 255, 0); */
}
textarea.ng-invalid{
  border-right: 7px solid rgb(255, 69, 69);
  /* border: 2px solid rgb(224, 91, 91); */
}
textarea.ng-valid{
   border-right: 7px solid rgb(50, 255, 50);
   /* border: 2px solid rgb(0, 255, 0); */
}
.error{
  color:rgb(224, 91, 91);
  margin-top: -10px;
  padding-bottom: 10px;
  font-size: 13px;
  float: right;
  font-weight: bold;
}
/* .btn-light {
  color: black!important;
}
.btn-light {
  color: black;
}
button.btn.btn-outline-secondary.calendar {
  background-color: hsl(204,45%,98%);
} */
.btn-light {
  color: black!important;
}
.ngb-dp-day {
  /* color: black; */
  background-color: darkgray!important;
}
.btn-light {
  background-color: darkgray!important;
}
ngb-datepicker.dropdown-menu.show {
  background-color: darkgray!important;
}
ngb-datepicker-month {
  background-color: darkgray!important;
}
