<div style="display: inline;">
    <button (click)="showForm()" type="button" class="btn btn-danger">
      <i class="fa fa-user-plus" aria-hidden="true"></i>
    </button>
  </div>
  <div *ngIf="check == true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header border-bottom-0">
          <h5 class="modal-title" id="exampleModalLabel">Create Account</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form>
          <div class="modal-body">
            <div class="form-group">
              <label for="fullname">Full Name</label>
              <input ([ngModel])="fullname" [value]="fullname" (keyup)="changeData($event)" type="text"
                class="form-control" id="fullname" placeholder="Full Name">
                <div *ngIf="error.fullname === 'err'"> <label style="color: red;">Bạn chưa nhập FullName</label> </div>
            </div>
            <div class="form-group">
              <label for="email">Email address</label>
              <input ([ngModel])="email" [value]="email" (keyup)="changeData($event)" type="email" class="form-control"
                id="email" aria-describedby="emailHelp" placeholder="Enter email">
                <div *ngIf="error.email === 'err'"> <label style="color: red;">Bạn chưa nhập Email address</label> </div>
            </div>
            <div class="form-group">
              <label for="phone">Phone</label>
              <input ([ngModel])="phone" [value]="phone" (keyup)="changeData($event)" type="number" class="form-control"
                id="phone" placeholder="Phone">
                <div *ngIf="error.phone === 'err'"> <label style="color: red;">Bạn chưa nhập Phone</label> </div>
            </div>
            <div class="form-group">
              <label for="password">Password</label>
              <input ([ngModel])="password" [value]="password" (keyup)="changeData($event)" type="password"
                class="form-control" id="password" placeholder="Password">
                <div *ngIf="error.password === 'err'"> <label style="color: red;">Bạn chưa nhập Password</label> </div>
            </div>
            <div class="form-group">
              <label for="ConfirmPassword">Confirm Password</label>
              <input ([ngModel])="ConfirmPassword" [value]="ConfirmPassword" (keyup)="changeData($event)" type="password"
                class="form-control" id="ConfirmPassword" placeholder="Confirm Password">
                <div *ngIf="error.ConfirmPassword === 'err'"> <label style="color: red;">Bạn chưa nhập Confirm Password</label> </div>
                <div *ngIf="error.checkpass === true"> <label style="color: red;">Confirm Password không đúng</label> </div>
            </div>
            <div class="form-group">
              <label for="avatar">Avatar</label>
              <label class="radio-inline" style="margin-left: 15px;"><input (change)="locationImg($event)" value="0" type="radio" name="optradio" checked>Trên Máy</label>
              <label class="radio-inline" style="margin-left: 15px;"><input (change)="locationImg($event)" value="1" type="radio" name="optradio">Link Internet</label>
              <input *ngIf="location == 0" (change)="changeAvatar($event)" type="file" class="form-control" id="avatar" placeholder="Avatar">
              <input *ngIf="location == 1" (change)="changeAvatar($event)" type="text" class="form-control" id="avatar" placeholder="Avatar">
            </div>
            <div class="form-group row align-items-center justify-content-center" *ngIf="urlImage.length > 1">
              <img class="img-thumbnail" [src]="urlImage" style="width: 150px; height: 150px"> <br />
            </div>
            <div class="form-group">
              <label for="address">Address</label>
              <input ([ngModel])="address" [value]="address" (keyup)="changeData($event)" id="address"
                ngx-google-places-autocomplete [options]='options' #placesRef="ngx-places"
                (onAddressChange)="handleAddressChange($event)" type="text" class="form-control" />
                <div *ngIf="error.address === 'err'"> <label style="color: red;">Bạn chưa nhập Address</label> </div>
            </div>
            <div class="form-group">
              <div class="d-inline-block">
                <label for="status">Status</label>
              </div>
              <div class="d-inline-block" style="padding-left: 0.5cm;">
                <label class="switch">
                  <input ([ngModel])="status" [value]="status" (click)="changeStatus()" type="checkbox" id="status"
                    [checked]="status">
                  <span class="slider round"></span>
                </label>
              </div>
            </div>
          </div>
        </form>
        <div class="modal-footer border-top-0 d-flex justify-content-center">
          <button (click)="Submit()" type="submit" class="btn btn-success">Submit</button>
        </div>
      </div>
    </div>
  </div>
  
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>