// .form-group.a {
//   float: right;
// }
.form-group.a {
  margin-left: 378px;
}
.form-group.text-center.img {
  /* margin-top: 0px; */
  margin-bottom: -51px;
}

.phone{
  -webkit-appearance: none;
}
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.btn:hover {
  background-color: rgb(228, 79, 79);
}
input{
  // color: bold;
}
input {
  color: rgb(0, 0, 0);
}

textarea{
  color: rgb(15, 15, 15);
}



.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
.aaa {
  background-color: white;
  /* margin-top: 1px; */
  padding-top: 5px;
  padding-right: 14px;
}
label.show {
  padding-top: 1px!important;
  padding-bottom: -52px!important;
}
label.show {
  background-color: white;
  text-align: center;
  height: 39px;
  /* margin-top: -2px; */
}
.input-group.input-group-alternative {
  background-color: white;
}
label.show {
  line-height: 45px;
}
textarea, input.ng-invalid{
  border-right: 7px solid rgb(255, 69, 69);
  /* border: 2px solid rgb(224, 91, 91); */
}
textarea, input.ng-valid{
   border-right: 7px solid rgb(50, 255, 50);
   /* border: 2px solid rgb(0, 255, 0); */
}
