<div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center" style="min-height: 200px; background-image: url(assets/img/theme/profile-cover.jpg); background-size: cover; background-position: center top;">
  <!-- Mask -->
  <span class="mask bg-gradient-danger opacity-8"></span>
  <!-- Header container -->
  <div class="container-fluid d-flex align-items-center">
    <!-- <div class="row">
      <div class="col-lg-7 col-md-10">
        <h1 class="display-2 text-white">Hello Jesse</h1>
        <p class="text-white mt-0 mb-5">This is your profile page. You can see the progress you've made with your work and manage your projects or assigned tasks</p>
      </div>
    </div> -->
    <a  class="btn btn-info">Edit profile</a>
  </div>
</div>
<div class="container-fluid mt--7">
  <div class="row">

    <div class="col-xl-12 order-xl-1">
      <div class="card bg-secondary shadow">
        <div class="card-header bg-white border-0">
          <div class="row align-items-center">
            <div class="col-8">
              <h3 class="mb-0">My account</h3>
            </div>
            <div class="col-4 text-right">
              <a routerLinkActive="active" [routerLink]="['/updatePassword']" class="btn btn-primary">Update Password</a>
            </div>
          </div>
        </div>
        <div class="card-body">
          <form multipart  [formGroup]="profileForm" >
            <h6 class="heading-small text-muted mb-4">User information</h6>
            <div class="pl-lg-4">
              <div class="row">
                <div class="col-lg-4">
                  <div class="form-group">
                    <label class="form-control-label" for="input-username">Username</label>
                    <input type="text" id="input-username" formControlName="username"  class="form-control form-control-alternative"  value="{{userProfile.username}}">

                  </div>
                </div>

                <div class="col-lg-4 img" >
                  <div class="form-group img text-center">
                    <label class="form-control-label"  for="input-image">Avatar</label>


                    <div>
                      <input id="image" type="file" multiple  formControlName="avatar"  accept=".png, .jpg, .jpeg" name="image" (change)="onChangeImage($event,$event.target.files,this)" style="display: none;" >
                    </div>
                    <label for="image">
                      <img style="border-radius: 72px;" [src]="urlImage" width="150px" height="150px"  alt="Image not found">
                      <!-- <img *ngIf="userProfile.avatar == null"  style="border-radius: 72px;"   [src]="urlImage" width="150px" height="150px"  alt="Image not found"> -->
                    </label>

                  </div>
                </div>
                <div class="col-lg-4">
                  <div class="form-group">
                    <label class="form-control-label" for="input-email">Email address</label>
                    <input type="email" id="input-email" formControlName="email"  class="form-control form-control-alternative" value="{{userProfile.email}}">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-4">
                  <div class="form-group">
                    <label class="form-control-label" for="input-first-name">First name</label>
                    <input type="text" id="input-first-name" formControlName="first_name"  class="form-control form-control-alternative"  value="{{userProfile.first_name}}">
                  </div>
                </div>
                <div class="col-lg-8 ">
                  <div class="form-group a">
                    <label class="form-control-label" for="input-last-name">Last name</label>
                    <input type="text"  id="input-last-name" formControlName="last_name"  class="form-control form-control-alternative" value="{{userProfile.last_name}}">
                  </div>
                </div>
              </div>
            </div>
            <hr class="my-4" />
            <!-- Address -->
            <h6 class="heading-small text-muted mb-4">Contact information</h6>
            <div class="pl-lg-4">
              <div class="row">
                <div class="col-md-3">
                  <div class="form-group">
                    <label class="form-control-label" for="input-address">Facebook</label>
                    <input id="input-address" formControlName="facebook"  class="form-control form-control-alternative" placeholder="Link Facebook" value="{{userProfile.facebook}}" type="text">
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="form-group">
                    <label class="form-control-label" for="input-address">Google</label>
                    <input id="input-address" formControlName="google"  class="form-control form-control-alternative"  placeholder="Link Google" value="{{userProfile.google}}" type="text">
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="form-group">
                    <label class="form-control-label" for="input-address">Twitter</label>
                    <input id="input-address" formControlName="twitter"  class="form-control form-control-alternative" placeholder="Link Twitter" value="{{userProfile.twitter}}" type="text">
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="form-group">
                    <label class="form-control-label" for="input-address">LinkedIn</label>
                    <input id="input-address" formControlName="linkedin"  class="form-control form-control-alternative" placeholder="Link LinkedIn" value="{{userProfile.linkedin}}" type="text">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-4">
                  <div class="form-group">
                    <label class="form-control-label" for="input-country">Phone Number</label>
                    <!-- <input type="number" formControlName="phone_number"  id="input-postal-code" class="form-control phone form-control-alternative"  placeholder="Phone Number" value="{{userProfile.phone_number}}"> -->
                    <div class="input-group input-group-alternative">
                      <div class="input-group-prepend">
                        <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
                      </div>
                      <input  formControlName="phone_number"  placeholder="Phone Number" value="{{userProfile.phone_number}}" class="form-control" placeholder="Phone Number" type="text">

                      <label class="show" >Show</label>
                  <div class="aaa">
                    <div class="d-inline-block">
                    </div>
                    <div class="d-inline-block" style="padding-left: 0.5cm;">
                      <label class="switch">
                        <input type="checkbox" (click)="changeStatus()" id="status" formControlName="show_phone" value="{{userProfile.show_phone}}"
                         >
                        <span class="slider round"></span>
                      </label>
                    </div>
                  </div>

                    </div>



                  </div>



                </div>
                <div class="col-lg-4">
                  <div class="form-group">
                    <label class="form-control-label" for="input-city">City</label>
                    <input type="text" formControlName="city"  id="input-city" class="form-control form-control-alternative" placeholder="City" value="{{userProfile.city}}">
                  </div>
                </div>
                <div class="col-lg-4">
                  <div class="form-group">
                    <label class="form-control-label" for="input-country">Country</label>
                    <input type="text" formControlName="country"  id="input-country" class="form-control form-control-alternative" placeholder="Country" value="{{userProfile.country}}">
                  </div>
                </div>

              </div>
            </div>
            <hr class="my-4" />
            <!-- Description -->
            <h6 class="heading-small text-muted mb-4">About me</h6>
            <div class="pl-lg-4">
              <div class="row">
                <div class="col-lg-4">
                  <div class="form-group">
                    <label class="form-control-label" for="input-country">Vat Number</label>
                    <input type="number" formControlName="vat_number"  id="input-postal-code" class="form-control form-control-alternative" placeholder="Vat Number"  value="{{userProfile.vat_number}}">
                  </div>
                </div>
                <div class="col-lg-4">
                  <div class="form-group">
                    <label class="form-control-label" for="input-city">Company Name</label>
                    <input type="text" formControlName="work_at"  id="input-city" class="form-control form-control-alternative" placeholder="Company Name..." value="{{userProfile.work_at}}">
                  </div>
                </div>
                <div class="col-lg-4">
                  <div class="form-group">
                    <label class="form-control-label" for="input-country">JOB</label>
                    <input type="text" formControlName="job"  id="input-country" class="form-control form-control-alternative" placeholder="JOB..." value="{{userProfile.job}}">
                  </div>
                </div>

              </div>
              <div class="form-group">
                <label>About Me</label>
                <textarea rows="4" formControlName="message"  class="form-control form-control-alternative" placeholder="A few words about you ...">{{userProfile.message}}</textarea>
              </div>
            </div>
            <div class="text-center">
              <button type="button" [disabled]="!profileForm.valid" (click)="save()" class="btn btn-primary mt-4">UPDATE</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
