// .form-group.a {
//   float: right;
// }
.form-group.a {
  margin-left: 378px;
}
.form-group.text-center.img {
  /* margin-top: 0px; */
  margin-bottom: -51px;
}

.phone{
  -webkit-appearance: none;
}
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.btn:hover {
  background-color: rgb(228, 79, 79);
}
