

<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">
      <a routerLinkActive="active" [routerLink]="['/user-profile']"class="btn  btn-primary mr-2">Profile User</a>
    </div>
  </div>
</div>
<!-- Page content -->
<div class="container-fluid mt--7">
  <div class="row">
    <div class="col-xl-2 order-xl-2 mb-5 mb-xl-0"></div>
    <div class="col-xl-8 order-xl-2 mb-5 mb-xl-0">
      <div class="card card-profile shadow">
        <div class="row justify-content-center">
          <div class="col-lg-3 order-lg-2">
            <div class="card-profile-image">
              <a href="javascript:void(0)">
                <img src="assets/img/theme/team-4-800x800.jpg" class="rounded-circle">
              </a>
            </div>
          </div>
        </div>
        <div class="card-header text-center border-0 pt-8 pt-md-4 pb-0 pb-md-4">
          <div class="d-flex justify-content-between">
            <a href="javascript:void(0)" class="btn btn-sm btn-info mr-4">Connect</a>
            <a href="javascript:void(0)" class="btn btn-sm btn-default float-right">Message</a>
          </div>
        </div>
        <div class="card-body pt-0 pt-md-4">
          <div class="row">
            <div class="col">
              <div class="card-profile-stats d-flex justify-content-center mt-md-5">
                <form [formGroup]="updatePasswordForm">
                  <div class="form-group mb-3">
                    <label class="form-control-label" for="input-email">Old Password</label>
                    <div class="input-group input-group-alternative">
                      <div class="input-group-prepend">
                        <span class="input-group-text"><i class="ni ni-key-25"></i></span>
                      </div>
                      <input  formControlName="old_password"  class="form-control" placeholder="Old Password" type="password" >
                      <!--
                        <input type="text" [(ngModel)]="model.field" name="field" #field="ngModel" ngvemail>
                        <p *ngIf="field.errors?.email">error message</p> -->
                      </div>
                      <input  formControlName="pass" type="hidden" placeholder="Old Password" >
                    <div *ngIf="error.old_password === 'null'"> <label class="error">Bạn chưa nhập Old Password</label> </div>
                    <div *ngIf="error.old_password === 'notmatch'"> <label class="error">Trường Old Password không chính xác</label> </div>
                  </div>
                  <div class="form-group">
                    <label class="form-control-label" for="input-email">New Password</label>
                    <div class="input-group input-group-alternative">
                      <div class="input-group-prepend">
                        <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
                      </div>
                      <input  formControlName="new_password" class="form-control" placeholder="New Password" type="password">
                    </div>
                    <div *ngIf="error.new_password === 'null'"> <label class="error">Bạn chưa nhập New Password</label> </div>
                    <div *ngIf="error.new_password === 'min'"> <label class="error">Trường New Password không được dưới 5 ký tự</label> </div>
                    <div *ngIf="error.new_password === 'max'"> <label class="error">Trường New Password không được quá 15 ký tự</label> </div>
                  </div>
                  <div class="form-group">
                    <label class="form-control-label" for="input-email">Confirm Password</label>
                    <div class="input-group input-group-alternative">
                      <div class="input-group-prepend">
                        <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
                      </div>
                      <input  formControlName="confirm_password" class="form-control" placeholder="Confirm Password" type="password">
                    </div>
                    <div *ngIf="error.confirm_password === 'null'"> <label class="error">Bạn chưa nhập Confirm Password</label> </div>
                    <div *ngIf="error.confirm_password === 'notmatch'"> <label class="error">Trường Confirm Password không chính xác</label> </div>
                  </div>
                  <div class="text-center">
                    <button [disabled]="!updatePasswordForm.valid" (click)="save()" type="button" class="btn btn-primary my-4">Update Password</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
          <div class="text-center">
          </div>
        </div>
      </div>
    </div>

  </div>
</div>

